.git
.github
.devcontainer
.vscode
.env
.env.example
lib/**
!lib/java/
!lib/java/.gitkeep
!lib/modules/
!lib/modules/.gitkeep
boxlang_modules/**
app/logs/**
runtime/logs/**
tests/results/**
node_modules
*.md
docs/
demos/
